<!DOCTYPE html>
<html lang="ko"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="/templates/template1/css/css.css" rel="stylesheet">
    <link href="/templates/template1/css/css_002.css" rel="stylesheet">
    <link href="/templates/template1/css/css_003.css" rel="stylesheet">
    <link rel="stylesheet" href="/templates/template1/css/font_experience.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <meta name="format-detection" content="telephone=no, email=no, address=no">

    <meta property="og:type" content="website">
    <meta property="og:title" content=" ♡ 의 모바일청첩장">
    <meta property="og:description" content="1970년 01월 01일  목요일 오전 09:00">
    <meta property="og:url" content="http://card-market.co.kr/mbcard/mb_card.php?mIdx=">
    <meta property="og:image" content="http://card-market.co.kr/_data/mbcard/photo/out//k.jpg?1507346508">

    <title>undefined ♡ undefined의 모바일청첩장</title>
    <!-- base href="http://card-market.co.kr/mbcard/skin/9/" -->
    <link rel="stylesheet" href="/templates/template1/css/common.css">
    <link rel="stylesheet" href="/templates/template1/css/style.css">
</head>
<body>

<!-- wrap -->
<div id="dic_bubble" class="selection_bubble fontSize13 noSelect" style="z-index:9999; border: 1px solid #4AAEDE;fetching=false"></div><div id="wrap">

    <p class="top_txt">WEDDING DAY</p>

    <!-- visual -->
    <div class="visual">
        <p class="visual_img"><img src="/templates/template1/img/visual_img.jpg" height="auto" width="100%"></p><!-- 비주얼 없음 -->

        <!-- v_txt -->
        <div class="v_txt">
            <p class="ex">THE MARRIAGE OF</p>
            <p class="name">
                <b class="groom GR_NM">000</b>
                <b class="bride BR_NM">000</b>
            </p>
            <p class="day_b">
                <span class="month_num W_MM">10</span>
                <span class="day_num W_DD">07</span>
            </p>
        </div>
    </div>

    <!-- data_txt -->
    <div class="data_txt">
        <img src="/templates/template1/img/data_txt_line.png" height="auto" width="82">
        <p class="date">
            <span class="year W_WeekKr">토요일</span>
            <span class="year W_TimeKr">오전 10시 21분</span>
        </p>
        <p class="hall">
            <span class="PL_NM">000000</span>
            <span style="display: none;" class="PL_NM2">00000 0000 0000</span>
        </p>
    </div>


    <!-- greeting -->
    <div class="greeting">
        <img src="/templates/template1/img/greeting_top.png" height="auto" width="100">
        <pre style="display: none;" class="gcon GREETING"></pre>

        <!-- sms -->
        <div class="sms">
            <div class="lft">
                <p>
                    <b class="GR_NM">000</b>
                    <i>GROOM</i>
                </p>
                <div>
                    <a class="call" href="tel:" id="GROOMPHONE"><img src="/templates/template1/img/sms_groom_call.png" alt="" height="auto" width="51"></a>
                    <a class="msg" href="sms:" id="GROOMSMS"><img src="/templates/template1/img/sms_groom_msg.png" alt="" height="auto" width="51"></a>
                </div>
            </div>
            <div class="rgt">
                <p>
                    <b class="BR_NM">000</b>
                    <i>BRIDE</i>
                </p>
                <div>
                    <a class="call" href="tel:" id="BRIDEPHONE"><img src="/templates/template1/img/sms_bride_call.png" alt="" height="auto" width="51"></a>
                    <a class="msg" href="sms:" id="BRIDESMS"><img src="/templates/template1/img/sms_bride_msg.png" alt="" height="auto" width="51"></a>
                </div>
            </div>
            <p class="ex"><img src="/templates/template1/img/sms_and.png" height="auto" width="48"></p>
        </div>
        <img src="/templates/template1/img/sns_img.jpg" class="sms_img" height="auto" width="100%">

        <!-- parent -->
        <div class="parent PARENT_INFO" style="display:none">
            <div class="lft">
                <p>&lt;신랑측 혼주&gt;</p>
                <p style="display: none;" class="info">
                    <span>아버지</span> <i class="GR_FA">000</i>
					<span class="GR_FA_HP" style="display:none">
						<a class="call" href="tel:" id="GROOMFAPHONE"><img src="/templates/template1/img/sms_parent_call.png" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:" id="GROOMFASMS"><img src="/templates/template1/img/sms_parent_msg.png" alt="" height="auto" width="26"></a>
					</span>
                </p>
                <p style="display: none;" class="info">
                    <span>어머니</span> <i class="GR_MO">000</i>
					<span class="GR_MO_HP" style="display:none">
						<a class="call" href="tel:" id="GROOMMOPHONE"><img src="/templates/template1/img/sms_parent_call.png" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:" id="GROOMMOSMS"><img src="/templates/template1/img/sms_parent_msg.png" alt="" height="auto" width="26"></a>
					</span>
                </p>
            </div>
            <div class="rgt">
                <p>&lt;신부측 혼주&gt;</p>
                <p style="display: none;" class="info">
                    <span>아버지</span> <i class="BR_FA">000</i>
					<span class="BR_FA_HP" style="display:none">
						<a class="call" href="tel:" id="BRIDEFAPHONE"><img src="/templates/template1/img/sms_parent_call.png" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:" id="BRIDEFASMS"><img src="/templates/template1/img/sms_parent_msg2.png" alt="" height="auto" width="26"></a>
					</span>
                </p>
                <p style="display: none;" class="info">
                    <span>어머니</span> <i class="BR_MO">000</i>
					<span class="BR_MO_HP" style="display:none">
						<a class="call" href="tel:" id="BRIDEMOPHONE"><img src="/templates/template1/img/sms_parent_call.png" alt="" height="auto" width="26"></a>
						<a class="msg" href="sms:" id="BRIDEMOSMS"><img src="/templates/template1/img/sms_parent_msg2.png" alt="" height="auto" width="26"></a>
					</span>
                </p>
            </div>
        </div>
    </div>


    <!-- gallery -->
    <div class="gallery">
        <img src="/templates/template1/img/gallery_tit.png" height="auto" width="138">
        <ul id="GAL_LIST" class="lst">

        </ul>
        <ul class="GAL_TEMPLATES" style="display:none">
            <li><a><img src="/templates/template1/img/blank_thum.jpg" height="auto" width="100%"></a></li>
        </ul>
        <a class="more" id="BTN_MORE_GAL_LIST">
            더 많은 사진보기<br>
            <img src="/templates/template1/img/gallery_more.png" height="auto" width="49">
        </a>
    </div>


    <!-- board -->
    <div class="board">
        <p class="ex_t"><img src="/templates/template1/img/board_top.jpg" height="auto" width="100%"></p>
        <div class="board_form">
            <form method="" action="">
                <p class="txtb"><textarea id="MSG" title="메세지 입력" placeholder="축하글을 남겨 주세요."></textarea></p>
                <p class="inpb">
                    <span class="inp"><input id="WRT_NM" title="이름 입력" placeholder="이름 입력" type="text"></span>
                    <span class="inp"><input id="PWD" value="" title="비민번호 입력" placeholder="비밀번호" type="password"></span>
                    <span class="btn"><input id="submit" value="등록하기" title="등록하기" type="submit"></span>
                </p>
            </form>
        </div>

        <ul id="MSG_LIST" class="board_lst">
        </ul>

        <ul class="TEMPLATES" style="display:none;">
            <li class="MSG_ITEM">
                <p class="name"></p>
                <p class="date">
                    <span>0000-00-00</span>
                </p>
                <p class="con">결혼을 진심으로 축하합니다.</p>
                <div class="del_b">
                    <a class="del BTN_DEL_MSG"><img src="/templates/template1/img/board_del.png" alt="" height="12" width="12"></a>
                    <p class="pw_layer POPUP_DEL_MSG" style="display:none">
                        <label for="b_pw">비밀번호 입력<label>
                            <input class="PWD" name="b_pw" type="password">
                            <a class="del_cf CNF_DEL_MSG">확인</a>
                            <a class="del_cl CCL_DEL_MSG">취소</a>
                        </label></label></p>
                </div>
            </li>
        </ul>
        <p id="MORE_MSG_LIST" class="board_lst_more"><a id="BTN_MORE_MSG_LIST" class="bl_more">더보기</a></p>
    </div>


    <!-- location -->
    <div class="location">
        <div class="con">
            <strong class="hall_nm PL_NM">000000000</strong>
            <p class="hall_add"><i>Address : </i> <span class="PL_ADDR">0000 00000 000 000-0000</span></p>
            <p style="display: none;" class="hall_tel PL_TEL"><i>tel : </i> <span class="tel PL_TEL_NO">02-0000-0001</span></p>
            <a class="btn" href="tel:undefined" id="PL_TEL_NO"><img src="/templates/template1/img/tel_btn.png" height="auto" width="47"></a>
        </div>
        <p id="MAP_CANVAS" class="map"></p>
        <p class="txt">대중교통 및 자동차 안내는 네이버 길찾기를 누르신 후 출발지를 검색하셔야 이용가능 합니다.</p>
        <div class="naver">
            <a class="zoom">크게보기</a>
            <a href="http://map.naver.com/index.nhn?menu=route" target="_blank">
                <img src="/templates/template1/img/location_point.png" height="21" width="13"><span>DIRECTION</span>
                네이버 길찾기
            </a>
        </div>

        <p class="hall_nm2 PL_NM2" style="display:none">o층 oo홀</p><!-- 백업 -->
    </div>


    <!-- direction -->
    <div class="direction">
        <ul>
            <li class="SUBWAY_CHK" style="display:none">
                <b class="tit">지하철 안내</b>
                <pre class="subway_info SUBWAY_INFO"></pre>
            </li>
            <li class="BUS_CHK" style="display:none">
                <b class="tit">버스 안내</b>
                <pre class="pbus_info BUS_INFO"></pre>
            </li>
            <li class="PARKING_CHK" style="display:none">
                <b class="tit">주차장 안내</b>
                <pre class="parking_info PARKING_INFO"></pre>
            </li>
        </ul>
        <ul>
            <li class="BANQUET_CHK" style="display:none">
                <b class="tit">피로연 안내</b>
                <pre class="banquet_info BANQUET_INFO"></pre>
            </li>
            <li class="CHARTERED_BUS_CHK" style="display:none">
                <b class="tit">전세버스 안내</b>
                <pre class="bus_info CHARTERED_BUS_INFO"></pre>
            </li>
            <li class="ETC_CHK" style="display:none">
                <b class="tit">기타내용 안내</b>
                <pre class="add_traffic ETC_INFO"></pre>
            </li>
        </ul>
    </div>


    <!-- sns -->
    <div class="sns">
        <ul>
            <li>
                <a class="kakao" id="KAKAOTALK">
                    <img src="/templates/template1/img/sns_kakao.png" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="kakaos" id="KAKAOSTORY">
                    <img src="/templates/template1/img/sns_kakaos.png" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="facebook" id="FACEBOOK">
                    <img src="/templates/template1/img/sns_facebook.png" alt="" height="auto" width="67">
                </a>
            </li>
            <li>
                <a class="band" id="BAND">
                    <img src="/templates/template1/img/sns_band.png" alt="" height="auto" width="67">
                </a>
            </li>
        </ul>
    </div>


    <!-- footer -->
    <div class="footer">
        <p class="logo"><img src="/templates/template1/img/footer_logo.png" alt="" height="21" width="118"></p>
        <a id="TOP" class="top" href="http://card-market.co.kr/mbcard/skin/9/#"><img src="/templates/template1/img/footer_top.png" alt="" height="21" width="21"></a>
    </div>
</div>
<!-- //wrap -->


<div id="ZOOM_LAYER" class="map_zoom">
    <div class="top_bar"><p class="btn_close">닫기</p></div>
    <div id="MAP_CANVAS_FS" class="map_fs"></div>
</div>

<div id="GAL_LAYER" class="gallery_zoom" style="display:none">
    <img src="/templates/template1/img/gallery_tit.png" height="auto" width="138">
    <ul id="GAL_LIST_ALL" class="lst">
    </ul>
    <a class="btn_close" style="">
        사진보기 닫기<br>
        <img src="/templates/template1/img/gallery_more.png" height="auto" width="49">
    </a>
</div>

<div id="IMG_LAYER" class="img_zoom" style="display:none">
    <div class="top_bar"><p class="btn_close">닫기</p></div>
    <ul id="VIEWER_LIST">
    </ul>
    <ul class="VIEW_TEMPLATES" style="display:none">
        <li class="viewer"><img height="auto" width="100%"></li>
    </ul>
</div>




<!-- *** 프로그래밍용 JS : 삭제금지 -->
<script type="text/javascript" src="/templates/template1/js/maps.js"></script>
<script src="/templates/template1/js/skin.js" type="text/javascript"></script>
<script src="/templates/template1/js/piaaano-utils.js" type="text/javascript"></script>
<script src="/templates/template1/js/jquery-1.js" type="text/javascript"></script>
<script src="/templates/template1/js/jssor.js" type="text/javascript"></script>
<script src="/templates/template1/js/common.js" type="text/javascript"></script>
<script src="/templates/template1/js/kakao.js" type="text/javascript"></script>
<script src="/templates/template1/js/kakaostoryLink.js" type="text/javascript"></script>
<canvas id="grayCanvas" style="display:none"></canvas>
<script type="text/javascript">
    //IE10 이상에서 메인 이미지 grayscale 처리
    function drawImage(imageObj) {
        var canvas = document.getElementById('grayCanvas');
        canvas.width = imageObj.width;
        canvas.height = imageObj.height;
        var context = canvas.getContext('2d');
        var x = 0;
        var y = 0;

        context.drawImage(imageObj, x, y);
        var imageData = context.getImageData(x, y, imageObj.width, imageObj.height);
        var data = imageData.data;

        for(var i = 0; i < data.length; i += 4) {
            var brightness = 0.34 * data[i] + 0.5 * data[i + 1] + 0.16 * data[i + 2];
            // red
            data[i] = brightness;
            // green
            data[i + 1] = brightness;
            // blue
            data[i + 2] = brightness;
        }

        // overwrite original image
        context.putImageData(imageData, x, y);
    }

    function _postProcBySkin() {
        var agt = navigator.userAgent.toLowerCase();
        if( agt.indexOf("trident/5.0") != -1 ||		//IE9
                agt.indexOf("trident/6.0") != -1 ||		//IE10
                agt.indexOf("trident/7.0") != -1 ||		//IE11
                agt.indexOf("android 4.1") != -1 ||		//Android 4.1.x
                agt.indexOf("android 4.2") != -1 ||		//Android 4.2.x
                agt.indexOf("android 4.3") != -1 		//Android 4.3.x
        )
        {
            var img = new Image();
            img.onload = function() {
                drawImage(this);
                $("#MAIN_PHOTO").attr("src", document.getElementById("grayCanvas").toDataURL());
            };
            img.src = $("#MAIN_PHOTO").attr("src");
        }
    };
</script>
<!-- *** 프로그래밍용 JS : 삭제금지 -->

<!-- *** 템플릿 작성 유의사항 : 태그 내 id값및  대문자명 class는 절대 변경/삭제하지 말것 -->




<script src="/templates/template1/js/jquery-ui.js" type="text/javascript"></script>
<script src="/templates/template1/js/jquery.js" type="text/javascript"></script>
</body>
</html>