/* emoticon small type A */
.emo-small-a {display:block;width:70px; height:70px; background:url('/bundles/viettutweb/img/templates/common/emo_spr_01.png') 0 0 no-repeat;background-size:500%;margin:1px}
.emo-small-a.emo01  {background-position:    0px    0px}
.emo-small-a.emo02  {background-position:  -70px    0px}
.emo-small-a.emo03  {background-position: -140px    0px}
.emo-small-a.emo04  {background-position: -210px    0px}
.emo-small-a.emo05  {background-position: -280px    0px}
.emo-small-a.emo06  {background-position:    0px  -70px}
.emo-small-a.emo07  {background-position:  -70px  -70px}
.emo-small-a.emo08  {background-position: -140px  -70px}
.emo-small-a.emo09  {background-position: -210px  -70px}
.emo-small-a.emo10 {background-position:  -280px  -70px}
.emo-small-a.emo11 {background-position:    0px  -140px}
.emo-small-a.emo12 {background-position: -70px   -140px}
.emo-small-a.emo13 {background-position: -140px  -140px}
.emo-small-a.emo14 {background-position: -210px  -140px}
.emo-small-a.emo15 {background-position: -280px  -140px}
.emo-small-a.emo16 {background-position:    0px  -210px}
.emo-small-a.emo17 {background-position: -70px   -210px}
.emo-small-a.emo18 {background-position: -140px  -210px}
.emo-small-a.emo19 {background-position: -210px  -210px}
.emo-small-a.emo20 {background-position: -280px  -210px}

/* emoticon normal type A */
.emo-type-a {display:block;width:120px; height:120px; background:url('/bundles/viettutweb/img/templates/common/emo_spr_01x2.png') 0 0 no-repeat;background-size:500%}
.emo-type-a.emo01  {background-position:    0px     0px}
.emo-type-a.emo02  {background-position: -120px     0px}
.emo-type-a.emo03  {background-position: -240px     0px}
.emo-type-a.emo04  {background-position: -360px     0px}
.emo-type-a.emo05  {background-position: -480px     0px}
.emo-type-a.emo06  {background-position:    0px  -120px}
.emo-type-a.emo07  {background-position: -120px  -120px}
.emo-type-a.emo08  {background-position: -240px  -120px}
.emo-type-a.emo09  {background-position: -360px  -120px}
.emo-type-a.emo10  {background-position: -480px  -120px}
.emo-type-a.emo11  {background-position:    0px  -240px}
.emo-type-a.emo12  {background-position: -120px  -240px}
.emo-type-a.emo13  {background-position: -240px  -240px}
.emo-type-a.emo14  {background-position: -360px  -240px}
.emo-type-a.emo15  {background-position: -480px  -240px}
.emo-type-a.emo16  {background-position:    0px  -360px}
.emo-type-a.emo17  {background-position: -120px  -360px}
.emo-type-a.emo18  {background-position: -240px  -360px}
.emo-type-a.emo19  {background-position: -360px  -360px}
.emo-type-a.emo20  {background-position: -480px  -360px}

/* emoticon small type B */
.emo-small-b {display:block;width:70px; height:70px; background:url('/bundles/viettutweb/img/templates/common/emo_spr_02.png') 0 0 no-repeat;background-size:500%;margin:1px}
.emo-small-b.emo01  {background-position:    0px    0px}
.emo-small-b.emo02  {background-position:  -70px    0px}
.emo-small-b.emo03  {background-position: -140px    0px}
.emo-small-b.emo04  {background-position: -210px    0px}
.emo-small-b.emo05  {background-position: -280px    0px}
.emo-small-b.emo06  {background-position:    0px  -70px}
.emo-small-b.emo07  {background-position:  -70px  -70px}
.emo-small-b.emo08  {background-position: -140px  -70px}
.emo-small-b.emo09  {background-position: -210px  -70px}
.emo-small-b.emo10 {background-position:  -280px  -70px}
.emo-small-b.emo11 {background-position:    0px  -140px}
.emo-small-b.emo12 {background-position: -70px   -140px}
.emo-small-b.emo13 {background-position: -140px  -140px}
.emo-small-b.emo14 {background-position: -210px  -140px}
.emo-small-b.emo15 {background-position: -280px  -140px}
.emo-small-b.emo16 {background-position:    0px  -210px}
.emo-small-b.emo17 {background-position: -70px   -210px}
.emo-small-b.emo18 {background-position: -140px  -210px}
.emo-small-b.emo19 {background-position: -210px  -210px}
.emo-small-b.emo20 {background-position: -280px  -210px}

/* emoticon normal type B */
.emo-type-b {display:block;width:120px; height:120px; background:url('/bundles/viettutweb/img/templates/common/emo_spr_02x2.png') 0 0 no-repeat;background-size:500%}
.emo-type-b.emo01  {background-position:    0px     0px}
.emo-type-b.emo02  {background-position: -120px     0px}
.emo-type-b.emo03  {background-position: -240px     0px}
.emo-type-b.emo04  {background-position: -360px     0px}
.emo-type-b.emo05  {background-position: -480px     0px}
.emo-type-b.emo06  {background-position:    0px  -120px}
.emo-type-b.emo07  {background-position: -120px  -120px}
.emo-type-b.emo08  {background-position: -240px  -120px}
.emo-type-b.emo09  {background-position: -360px  -120px}
.emo-type-b.emo10  {background-position: -480px  -120px}
.emo-type-b.emo11  {background-position:    0px  -240px}
.emo-type-b.emo12  {background-position: -120px  -240px}
.emo-type-b.emo13  {background-position: -240px  -240px}
.emo-type-b.emo14  {background-position: -360px  -240px}
.emo-type-b.emo15  {background-position: -480px  -240px}
.emo-type-b.emo16  {background-position:    0px  -360px}
.emo-type-b.emo17  {background-position: -120px  -360px}
.emo-type-b.emo18  {background-position: -240px  -360px}
.emo-type-b.emo19  {background-position: -360px  -360px}
.emo-type-b.emo20  {background-position: -480px  -360px}

/* emoticon normal type C */
.emo-type-c {display:block;width: 200px;height: 136px;margin:1px}
.emo-type-c.emo01  {background:url('/bundles/viettutweb/img/templates/common/emo3_01.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo02  {background:url('/bundles/viettutweb/img/templates/common/emo3_02.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo03  {background:url('/bundles/viettutweb/img/templates/common/emo3_03.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo04  {background:url('/bundles/viettutweb/img/templates/common/emo3_04.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo05  {background:url('/bundles/viettutweb/img/templates/common/emo3_05.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo06  {background:url('/bundles/viettutweb/img/templates/common/emo3_06.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo07  {background:url('/bundles/viettutweb/img/templates/common/emo3_07.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo08  {background:url('/bundles/viettutweb/img/templates/common/emo3_08.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo09  {background:url('/bundles/viettutweb/img/templates/common/emo3_09.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo10  {background:url('/bundles/viettutweb/img/templates/common/emo3_10.png') 50% 0 no-repeat;background-size:100%}
.emo-type-c.emo11  {background:url('/bundles/viettutweb/img/templates/common/emo3_11.png') 50% 0 no-repeat;background-size:100%}

.popemo_list .emo-type-c{width:140px;height:95px}
.popemo_list .emo-type-c{width:118px;height:80px}
.popemo_list .emo-type-c{width:106px;height:72px}
@media (max-width:414px) {

}
@media (max-width:375px) {
    .popemo_list .emo-type-c{width:106px;height:72px}
}
@media (max-width:360px) {
    .popemo_list .emo-type-c{width:100px;height: 68px;}
}
@media (max-width:320px) {
    .popemo_list .emo-type-c{width:90px;height: 61px;}
}
/* emoticon small type D */
/* .emo-small-d {display:block;width:80px; height:80px; background:url('/img/snsbbs/emo_spr_04.png') 0 0 no-repeat;background-size:400%;margin:1px}
.emo-small-d.emo01  {background-position:    0px    0px}
.emo-small-d.emo02  {background-position:  -80px    0px}
.emo-small-d.emo03  {background-position: -160px    0px}
.emo-small-d.emo04  {background-position: -240px    0px}
.emo-small-d.emo05  {background-position:    0px  -80px}
.emo-small-d.emo06  {background-position:  -80px  -80px}
.emo-small-d.emo07  {background-position: -160px  -80px}
.emo-small-d.emo08  {background-position: -240px  -80px}
.emo-small-d.emo09 	{background-position:    0px -160px}
.emo-small-d.emo10 	{background-position:  -80px -160px}
.emo-small-d.emo11 	{background-position: -160px -160px}
.emo-small-d.emo12 	{background-position: -240px -160px}
.emo-small-d.emo13 	{background-position:    0px -240px}
.emo-small-d.emo14 	{background-position:  -80px -240px}
.emo-small-d.emo15 	{background-position: -160px -240px}
.emo-small-d.emo16 	{background-position: -240px -240px}
.emo-small-d.emo17 	{background-position:    0px -320px}
.emo-small-d.emo18 	{background-position:  -80px -320px}
.emo-small-d.emo19 	{background-position: -160px -320px}
.emo-small-d.emo20 	{background-position: -240px -320px} */

@media (max-width:414px) {
    /* .emo-small-d {display:block;margin:2px; width:60px; height:60px; background:url('/img/snsbbs/emo_spr_04.png') 0 0 no-repeat;background-size:400%}
    .emo-small-d.emo01  {background-position:    0px     0px}
    .emo-small-d.emo02  {background-position:  -60px     0px}
    .emo-small-d.emo03  {background-position: -120px     0px}
    .emo-small-d.emo04  {background-position: -180px     0px}
    .emo-small-d.emo05  {background-position:    0px   -60px}
    .emo-small-d.emo06  {background-position:  -60px   -60px}
    .emo-small-d.emo07  {background-position: -120px   -60px}
    .emo-small-d.emo08  {background-position: -180px   -60px}
    .emo-small-d.emo09 	{background-position:    0px  -120px}
    .emo-small-d.emo10 	{background-position:  -60px  -120px}
    .emo-small-d.emo11 	{background-position: -120px  -120px}
    .emo-small-d.emo12 	{background-position: -180px  -120px}
    .emo-small-d.emo13 	{background-position:    0px  -180px}
    .emo-small-d.emo14 	{background-position:  -60px  -180px}
    .emo-small-d.emo15 	{background-position: -120px  -180px}
    .emo-small-d.emo16 	{background-position: -180px  -180px}
    .emo-small-d.emo17 	{background-position:    0px  -240px}
    .emo-small-d.emo18 	{background-position:  -60px  -240px}
    .emo-small-d.emo19 	{background-position: -120px  -240px}
    .emo-small-d.emo20 	{background-position: -180px  -240px} */
}
/* @media (max-width:414px) { */
.emo-small-d {display:block;width:70px; height:70px; background:url('/bundles/viettutweb/../public/img/templates/common/emo_spr_04.png') 0 0 no-repeat;background-size:400%}
.emo-small-d.emo01  {background-position:    0px     0px}
.emo-small-d.emo02  {background-position:  -70px     0px}
.emo-small-d.emo03  {background-position: -140px     0px}
.emo-small-d.emo04  {background-position: -210px     0px}
.emo-small-d.emo05  {background-position:    0px   -70px}
.emo-small-d.emo06  {background-position:  -70px   -70px}
.emo-small-d.emo07  {background-position: -140px   -70px}
.emo-small-d.emo08  {background-position: -210px   -70px}
.emo-small-d.emo09 	{background-position:    0px  -140px}
.emo-small-d.emo10 	{background-position:  -70px  -140px}
.emo-small-d.emo11 	{background-position: -140px  -140px}
.emo-small-d.emo12 	{background-position: -210px  -140px}
.emo-small-d.emo13 	{background-position:    0px  -210px}
.emo-small-d.emo14 	{background-position:  -70px  -210px}
.emo-small-d.emo15 	{background-position: -140px  -210px}
.emo-small-d.emo16 	{background-position: -210px  -210px}
.emo-small-d.emo17 	{background-position:    0px  -280px}
.emo-small-d.emo18 	{background-position:  -70px  -280px}
.emo-small-d.emo19 	{background-position: -140px  -280px}
.emo-small-d.emo20 	{background-position: -210px  -280px}
/* } */

/* emoticon normal type D */
.emo-type-d {display:block;width:120px; height:120px; background:url('/bundles/viettutweb/../public/img/templates/common/emo_spr_04.png') 0 0 no-repeat;background-size:400%}
.emo-type-d.emo01  {background-position:    0px     0px}
.emo-type-d.emo02  {background-position: -120px     0px}
.emo-type-d.emo03  {background-position: -240px     0px}
.emo-type-d.emo04  {background-position: -360px     0px}
.emo-type-d.emo05  {background-position:    0px  -120px}
.emo-type-d.emo06  {background-position: -120px  -120px}
.emo-type-d.emo07  {background-position: -240px  -120px}
.emo-type-d.emo08  {background-position: -360px  -120px}
.emo-type-d.emo09  {background-position:    0px  -240px}
.emo-type-d.emo10  {background-position: -120px  -240px}
.emo-type-d.emo11  {background-position: -240px  -240px}
.emo-type-d.emo12  {background-position: -360px  -240px}
.emo-type-d.emo13  {background-position:    0px  -360px}
.emo-type-d.emo14  {background-position: -120px  -360px}
.emo-type-d.emo15  {background-position: -240px  -360px}
.emo-type-d.emo16  {background-position: -360px  -360px}
.emo-type-d.emo17  {background-position:    0px  -480px}
.emo-type-d.emo18  {background-position: -120px  -480px}
.emo-type-d.emo19  {background-position: -240px  -480px}
.emo-type-d.emo20  {background-position: -360px  -480px}