<li id="62811" class="" style="position: absolute; left: 74.2484%; top: 0px;">
    <div class="message_box">
        <div class="message_area">
            <div class="profile_area">
                <div class="profile_img">
                    <img src="http://mud-kage.kakao.co.kr/14/dn/btqfDUdt46a/AAlNKP8zV7B5v5JPsGk3Ak/o.jpg" alt="Profile image">
                </div>
            </div>
            <div class="text_area">
                <div class="user_name"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Present day</font></font></span></div>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Refund, not a / s </font></font></p>

                <p>
                    <img src="/gardenwedding/myphoto/0bbe8f94d7b4e1876b3c6423308b9084.jpg" id="gimg_1995032" width="300">
                </p>

            </div>
            <div class="reply_area">
                <div class="reply_btn">
                    <i class="fa fa-commenting-o fa-flip-horizontal color_txt"></i>
                    <span class="hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">comment</font></font></span>
                    <span class="reply_txt color_txt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">One</font></font></span>
                </div>
            </div>
        </div>
        <div class="del_area">
            <div class="info_date">
                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2017-07-14 17:43:37</font></font></span>
            </div>
        </div>
    </div>


    <div class="comment_box">
        <div class="pop_emo_area">
            <div class="pop_emo_box">
                <div class="pop_emo_select emo-type-d emo09" id="pop_emo_select" style="display: none; width:120px"><!--type:a,b,d 120px / type:c 176px-->
                    <div id="bt_pop_close_selecticon" class="emo_select_close">
                        <span class="ico-minus-w"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">delete</font></font></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="write_area not_login">
            <div class="write_emo">
                <i class="fa fa-smile-o"></i>
                <span class="hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Select emoticons</font></font></span>
            </div>
            <div class="write_input">
                <input type="text" id="" placeholder="로그인 후 사용 가능합니다." disabled="disabled">
            </div>
            <div class="write_btn color_bg">
                <span class="ico-pencil"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enrollment</font></font></span>
            </div>
        </div>
        <ul class="comm_list">
            <!-- <li class="loader">
                <div class="comment_loader"></div>
            </li> -->
        </ul>
    </div>
</li>