/* Add here all your CSS customizations */
.social-buttons {
    margin: 10px 10px;
}

.social-buttons a {
    width: 49%;
}

.btn-zl {
    background-color: #55acee !important;
}

.btn-fb {
    background-color: #3b5998 !important;
}