@charset "utf-8";


/* 임시css */
.ui-panel-wrapper {min-height:80px;}
.ui-page-theme-a {text-shadow:none!important}
.spacer.s0 {min-height: 1px;}

/* Global */
.ul-body   {position:relative; max-width: 980px; margin: 0 auto; padding:0 10px; box-sizing: border-box; -webkit-box-sizing: border-box;}
.ul-body:after {display:block; content:''; clear:both;}
.ui-cont-a {padding: 0 1em}
.ui-cont-b {padding: 3em 0}
.ui-cont-c {padding-top: 2em}
.ui-cont-d {padding-bottom: 2em}
.btn_wrap {cursor:pointer;}
.p-r {position:relative}
.f-l {float:left!important;}
.f-r {float:right!important;}

.align_left {text-align:left}
.align_center {text-align:center}
.align_right {text-align:right}
.color {color:#444444;}

/* Layout */
html,body {font-family:'Lora', sans-serif}
body {font-size: 100%;}
#skin_page {z-index:10; background-color:#c9effd;}

.ui-section-a {position:relative; width:50%; z-index:1;}
.ui-section-b {position:fixed; width:50%; top:0; right:0; bottom:0; z-index:-1;}

.header {z-index:-1}
.greeting_wrap {position:relative;box-sizing: border-box;z-index:1;}
.gallery_wrap {position:relative; background:#6dcff6 url(/bundles/viettutweb/img/templates/angelcar/gallery_bg.png) ; box-sizing: border-box; box-shadow:0px 6px 6px rgba(0,0,0,0.2); z-index:20}
.gallery_wrap:before {position:absolute; top:-70px; left:0; right:0; height:70px; background:url(/bundles/viettutweb/img/templates/angelcar/gallery_bgtop.png) repeat-x 50% 0; content:''; z-index:20}
.guestbook_wrap {position:relative; overflow:hidden; background:#cdf4ff; /*   url(/bundles/viettutweb/img/templates/angelcar/guestbook_bg1400.jpg) no-repeat 50% 0*/; background-size:cover; box-shadow:0px 0px 0px rgba(0,0,0,0.2) inset; box-sizing: border-box; z-index:20;}

.movie_wrap {position:relative; overflow:hidden; background:#ffeed7 /*url(/bundles/viettutweb/img/templates/angelcar/movie_bg.png) repeat 50% 0*/; box-sizing: border-box; z-index:20;padding-bottom:50px;}
.location_wrap {position:relative; overflow:hidden; background:#ffffff url(/bundles/viettutweb/img/templates/angelcar/location_bg.png); background-repeat:repeat-x ; box-sizing: border-box; z-index:20}
.footer {position:relative; background-color: #C9EFFD!important; z-index:20;}

.gallery_wrap {padding:50px 0 70px}
.guestbook_wrap,
.location_wrap {padding:50px 0;}
.movie_wrap {padding:50px 0 0px 0;}
.greeting_wrap,
.movie_wrap{}

.location_wrap {padding-bottom:0}

.lnb_mobile {display:none; position:absolute; top:0px; right:0px; width:45px; height:45px; z-index:100; /*border-radius:8px 0 8px 8px; opacity:0.8*/}
.lnb_mobile img {width:100%; /* border-radius:8px 0 8px 8px;*/ }
.lnb_mobile.fadeIn {position:fixed; display:block;}

.lnb {position:fixed; top: 20px; left: 52%; right: 2%; padding:0; border-radius:15px; background-color: rgba(0,0,0,0.2); box-sizing: border-box; z-index: 9;}
.lnb ul {width: 98%; margin:0 auto; text-align:center; box-sizing: border-box;
font-size: 0; letter-spacing: 0; word-spacing: 0; line-height:1}
.lnb ul:after {display:block; content:''; clear:both}
.lnb li {position:relative; display:inline-block; width:20%; margin:0; padding: 10px 0;box-sizing: border-box;
  text-align:center; font-weight:700; font-size:14px; line-height:1;letter-spacing:-0.5px; word-spacing:0;color: #Fff;}
.lnb li:after {position:absolute; top: 11px; right: -4px; font-size: 10px; content:'l'}
.lnb li:last-child:after {content:''}
.lnb li span {display:block}
.lnb li.menu1 {width:25%}
.lnb li.menu2 {width:18%}
.lnb li.menu3 {width:18%}
.lnb li.menu4 {width:14%}
.lnb li.menu5 {width:25%}
.lnb li.menu6 {width:16%}
/*.lnb li.on span{padding:0 0 2px 0; border-bottom:2px solid #f17643}*/

.header_box {position:relative;background:url(/bundles/viettutweb/img/templates/angelcar/header_pattern.png) repeat-x 0 0,url(/bundles/viettutweb/img/templates/angelcar/header_pattern.png) repeat-x 0 100%,#6dcff6}








.header_title {position:absolute;left: 30px;right: 30px;margin-top:-270px;padding:40px 30px;border-radius: 12px;box-sizing: border-box;color:#000000;
background:url(/bundles/viettutweb/img/templates/angelcar/left-dot.png) no-repeat 2% 2%,url(/bundles/viettutweb/img/templates/angelcar/left-dot2.png) no-repeat 2% 98%,url(/bundles/viettutweb/img/templates/angelcar/right-dot.png) no-repeat 98% 2%,url(/bundles/viettutweb/img/templates/angelcar/right-dot2.png) no-repeat 98% 98%,rgba(255,255,255,0.9);}
.header_title .cars {position:absolute;top: -80px;left:0;right:0;text-align:center!important}
.header_title .cars img {width: 170px}
.header_title .one {position: relative;margin: 0 0 30px;}
.header_title .one img {width:300px;}
.header_title h1 {position: relative;margin: 0 0 30px;}
.header_title p {display:block;line-height: 1.4;}
.header_title .small {font-size:1.2em; margin:0 0 2px 0}
.header_title .name {font-size:1.6em;margin:0;line-height: 1.4;word-break: break-word;}
.header_title .name span {display:inline-block;}
.header_title .name span.twins {display:block;}
.header_title .birthday {font-size:1.6em}

/* .header_date {position:relative;color:#777;margin-bottom:110px;} */

.header_date li {position:relative;display: inline-block;font-size: 1.25em;line-height: 1.5;box-sizing:  border-box;}
.header_date li.place {display:block;word-break:break-word;}
.align_left .header_date li:first-child {padding:0 5px 0 0}
.align_right .header_date li:last-child {padding:0 0 0 5px}

.scrolldown {display:none; position:absolute; bottom:25px; left:50%; margin: 0 0 0 -20px; width:40px; height:40px; }
.scrolldown img {width:100%; opacity:0.8}

.header_info.align_center .header_parent {display:none}
.header_info.align_center .hd_tit,
.header_info.align_center .hd_txt {display:inline-block}

.header_panel {position:fixed; left:0; right:0; bottom:250px;margin:0; padding:0; box-sizing: border-box; z-index: 10; }
.header_panel p {width: 55px; height:55px; box-sizing: border-box; font-size:1em; line-height:42px}
.header_panel a {display:block;height:55px;color: #fff!important;font-size: 1em;line-height: 55px;}
.header_panel .dad{float:left;text-align: center;padding: 0;background:url(/bundles/viettutweb/img/templates/angelcar/header_panel.png) no-repeat 100% 0;background-size:auto 100%;}
.header_panel .mom{float:right;text-align: center;background:url(/bundles/viettutweb/img/templates/angelcar/header_panel2.png) no-repeat 0 100%;background-size:auto 100%;}

/*
div#panel_father,div#panel_father .ui-panel-inner,
div#panel_mother,div#panel_mother .ui-panel-inner {padding:0; top:0!important;}
*/
.ui-panel-open.ui-panel-position-right.ui-panel-display-push {border-color:#555}
.ui-panel-inner {padding:0!important; top:0!important;}
.menu-wrap.ui-panel-inner {padding:1em!important; top:0!important;}

.groom-wrap,
.bride-wrap {position:relative; width:273px; font-size:0; line-height:0; text-indent:-9999px; box-sizing: border-box}
.groom-wrap p,
.groom-wrap ul li,
.bride-wrap p,
.bride-wrap ul li {cursor:pointer;}
.groom-wrap p, 
.bride-wrap p {position:absolute; top: 498px; right:0; width:50px; height:50px; text-shadow:none!important; background: rgba(0,174,239,0.8) url(/bundles/viettutweb/img/templates/angelcar/panel_icon.png) 100% 0 no-repeat; background-size:250px;
  font-size:0; line-height:0; text-indent:-9999px;}
  .groom-wrap p {right:1px;}
.groom-wrap ul,
.bride-wrap ul {position:absolute; top: 498px; left:0; width:200px; height:50px; overflow:hidden;}

.groom-wrap ul li,
.bride-wrap ul li {float:left; width:50px; height:50px; margin:0; background:rgba(0,0,0,0.5) url(/bundles/viettutweb/img/templates/angelcar/panel_icon.png) 0 0 no-repeat; background-size:250px;
  font-size:0; line-height:0; text-indent:-9999px}
.groom-wrap ul li.ico5,
.bride-wrap ul li.ico1 {background-position:0 0px}
.groom-wrap ul li.ico6,
.bride-wrap ul li.ico2 {background-position:-50px 0}
.groom-wrap ul li.ico7,
.bride-wrap ul li.ico3 {background-position:-100px 0}
.groom-wrap ul li.ico8,
.bride-wrap ul li.ico4 {background-position:-150px 0}
.dad-panel {
  background:#fff url('/bundles/viettutweb/img/templates/angelcar/bg_dad.jpg') center top no-repeat; background-size:100%; z-index:9999;
}
.mom-panel {
  background:#d3f2fd url('/bundles/viettutweb/img/templates/angelcar/bg_mom.jpg') center top no-repeat; background-size:100% auto; z-index:9999;
}
#right-panel {z-index:9999;}
#sk_topinfo {background:#c9effd url('/bundles/viettutweb/img/templates/angelcar/f6023d1ca8dd43dea2d6ded9c41f689d.jpg') CENTER CENTER no-repeat; background-size:cover;}
@media all and (max-height: 539px) {
  .groom-wrap ul {position:fixed; top:auto; bottom:0; left:0}
  .groom-wrap p {position:fixed; top:auto; bottom:0; left:222px}
  .bride-wrap ul {position:fixed; top:auto; bottom:0; right:72px; left:auto;}
  .bride-wrap p {position:fixed; top:auto; bottom:0; right:0px}
}

/* title */
h2.title {position:relative; margin: 0 0 30px;text-align:center;line-height: 1;}
h2.title img {display:inline-block}

.greeting_wrap h2.title img {width:300px}
.profile_wrap h2.title img {width:300px;}
.gallery_wrap h2.title img {width: 349px;}
.guestbook_wrap h2.title img {width: 285px;}
.movie_wrap h2.title img {width:300px}
.location_wrap h2.title {margin:0;height: 107px;}
.location_wrap h2.title img {width: 300px;}

/* Greeting */
.greeting_box {width:100%;min-height:300px;margin:0 auto;padding: 50px 0;box-sizing: border-box;background-color:#fff;}
.profile_box {width:100%;min-height:300px;margin: 0 auto 30px;padding: 20px 0;box-sizing: border-box;background-color:#fff;}

.profile_wrap {margin:0 auto;padding:50px 0;text-align: center;background-color:#cdf4ff;}
.profile_wrap .profile_box {display:inline-block}
.profile_wrap .profile_box:nth-child(even) {
}
.profile_wrap .profile_box:nth-child(odd) {
}



.profile_wrap .profile_box {display:block;position:relative;width: 300px;}
.profile_wrap .profile_box:before,
.profile_wrap .profile_box:after {position:absolute;content:'';top:30px;width:60px;height: 78px;background:url(/bundles/viettutweb/img/templates/angelcar/angel_bg2.png) no-repeat;background-size:120px auto;}
.profile_wrap .profile_box:before {left:-75px;background-position:0 0}
.profile_wrap .profile_box:after {right:-75px;background-position:-60px 0}




.greeting_content {}
.greeting_text {width:98%; margin:40px auto; color:#444; font-size:0.9em; line-height:2; text-align:center; word-break: break-all;}
.greeting_name {width: 70%; max-width: 350px; min-width: 280px; margin:40px auto; color:#444; box-sizing: border-box; text-align:center;vertical-align:bottom;}
.greeting_name:after {display:block; content:''; clear:both}
.greeting_name li {display:inline-block; width:45%; vertical-align:top;}
.greeting_name li span:first-child {display:inline-block; font-size:0.7em; font-weight:bold; padding:0 10px 0 0;}
.greeting_name li .panel {display:none; font-size: 0.7em; line-height:1; color:#fff; 
  margin:10px 0 0 0;padding: 6px; background-color:#42b4e4; border-radius: 20px; cursor:pointer}
.greeting_name li .panel a {color:#fff}

.greeting_loca {width: 100%; margin:40px auto; padding: 0; box-sizing: border-box;
  text-align:center; color: #000; line-height: 1.2; font-size:0.9em; font-weight:bold; word-break: break-all;}
.greeting_loca p {margin:8px 0}
.greeting_loca span {margin: 0 5px 0 0;}
.greeting_loca span:last-child {margin:0}
.greeting_loca span.option {display:block}
.greeting_loca p:last-child {color:#666; font-size:0.8em}
.greeting_bar {margin:0 0; text-align:center;}

.profile_content { }
.baby_title {position:relative; display:block; width: 106%; height: 50px; margin: 0 0 0 -3%; background-color: #7cc0eb;
font-size: 1.2em; color:#fff; line-height: 52px;}
.baby_title:before {position:absolute; bottom:-13px; left:-16px; width:29px; height:41px; background:url(/bundles/viettutweb/img/templates/angelcar/baby_title1.png) no-repeat 0 0; content:''; z-index:-2}
.baby_title:after {position:absolute; bottom:-13px; right:-16px; width:29px; height:41px; background:url(/bundles/viettutweb/img/templates/angelcar/baby_title2.png) no-repeat 0 0; content:''; z-index:-2}

.baby_photo {position:relative; width:230px; height:230px; margin:10px auto; border-radius:0px;}

  .baby_img {display:block; border-radius:500px; border: 10px solid #cdf4ff;  display:block ;}
  .baby_img img {width:100%; border-radius:300px;  display:block }

  .baby_img_girl {display:block; border-radius:500px; border: 10px solid #ffebf4;  display:block ;}
  .baby_img_girl img {width:100%; border-radius:300px;  display:block }


  .baby_firstword {position:absolute; top:20px; left:-50px; width: 100px; height: 100px; padding:25px 12px 0 5px; text-align:center; box-sizing: border-box}
  .baby_firstword span {font-size:13px; }
  .baby_firstword strong {display:inline-block; font-size:16px; margin: 8px 0 0 0;width: 60px;height: 28px;overflow: hidden;}
  .baby_teeth {position:absolute; bottom:30px; right:-30px; width:65px; height:65px; padding: 15px 0 0 0; background-color: #b1dcf7;background-size:100%; text-align:center; box-sizing: border-box;border-radius: 50%;color: #fff;}
  .baby_teeth span {font-size:13px; }
  .baby_teeth strong {font-size:16px}
  .baby_name {position:absolute; bottom:-14px; left:0; right:0; text-align:center}
  .baby_name span {display:inline-block; min-width:180px; height:28px; line-height:28px; color:#fff; padding:0 10px; font-size:14px; border-radius:6px;vertical-align: top;}
  .baby_name strong{font-size:18px; padding:0 0 0 10px;display: inline-block;max-width: 130px;overflow: hidden;height: 28px;vertical-align: top;}
  .baby_gender {position:absolute; bottom: 15px; left: 175px; width:30px; height:30px; font-size:0; line-height:0; text-indent:-9999px;
  background:url(/bundles/viettutweb/img/templates/angelcar/greeting_gender.png) no-repeat 0 0; border-radius:50%; background-size:60px;border: 2px solid #fff;}
  .baby_gender.male {background-color:#8fc9f5; background-position:0 0}
  .baby_gender.female {background-color:#f371ac; background-position:100% 0}

.baby_profile {margin: 15px 0 20px; }
.baby_profile ul {width: 250px; margin:0 auto; font-size:14px;}
.baby_profile li {text-align:left;margin-bottom:5px;padding-left:5px;}
.baby_profile li .title {display:inline-block; padding: 2px 10px 2px 10px; color:#42b4e4;vertical-align: top;border-radius:15px;background-color:#cdf4ff;font-weight:bold;}
.baby_profile li .text {display:inline-block; padding:2px 5px; word-break: break-all;color: #444444;}
.baby_profile.girl li .title {display:inline-block; padding: 2px 10px 2px 10px; color:#f371ac;vertical-align: top;border-radius:15px;background-color:#ffebf4;font-weight:bold;}


.baby_img {}
.baby_firstword {color:#34b599; background:url() no-repeat 0 0; background-size:100%}
.baby_name span {background-color: #7cc0eb;}
.baby_profile table td {color: #7cc0eb;}

.profile_wrap .profile_box:nth-child(even) .baby_title {}
.profile_wrap .profile_box:nth-child(even) .baby_img {}
.profile_wrap .profile_box:nth-child(even) .baby_firstword {color:#f7941d; background:url(/bundles/viettutweb/img/templates/angelcar/greeting_cars1.png) no-repeat 0 0; background-size:100%}
.profile_wrap .profile_box:nth-child(even) .baby_name span {background-color:#f7941d;}
.profile_wrap .profile_box:nth-child(even) .baby_profile table td {color:#f7941d}

/* gallery */
.gal_list > div > a > div {float:left; height:240px; border:6px solid #fff; box-shadow: 0 3px 4px rgba(0,0,0,0.1); box-sizing:border-box;padding-top:30px
}

  .gal_list .col-3:nth-child(1) .ui-block-1 {width:32.3%; margin:0 1.1% 12px 0; border:6px solid #ff71af}
  .gal_list .col-3:nth-child(1) .ui-block-2 {width:32.3%; margin:0 1.1% 12px 0}
  .gal_list .col-3:nth-child(1) .ui-block-0 {width:32.3%; margin:0 0 12px 0;}

  .gal_list .col-3:nth-child(2) .ui-block-1,
  .gal_list .col-3:nth-child(2) .ui-block-2 {width:32.3%; margin:0 1.1% 12px 0}
  .gal_list .col-3:nth-child(2) .ui-block-0 {width:32.3%; margin:0 0 12px 0}

  .gal_list .col-3:nth-child(3) {position:relative; overflow:visible!important}
  .gal_list .col-3:nth-child(3):after {display:block; content:''; clear:both}
  .gal_list .col-3:nth-child(3) .ui-block-1,
  .gal_list .col-3:nth-child(3) .ui-block-2 {width:32.3%; margin:0 1.1% 12px 0}
  .gal_list .col-3:nth-child(3) .ui-block-0 {width:32.3%; margin:0 0 12px 0}

.gal_more {display:block; width:184px; height:50px; margin:20px auto 0;cursor:pointer}
.gal_more img {width:100%;}

.gal_list2 {padding-bottom:30px!important}
.gal_list2 .gal_frame img {border:5px solid #fff; box-shadow: 0 3px 4px rgba(0,0,0,0.1);}
.gal_size+a .gal_frame img {border:5px solid #ff71af}
.gal_list2 .gal_more {bottom:-35px;left:50%; margin:0 0 0 -92px}
.gal_list2 > a:first-child .gal_frame img {border:5px solid #ff71af}

/* Movie */
.movie_ballon {width:316px; margin:0 auto}
.movie_ballon img {width:100%;}
.movie_container {position:relative;}
.movie_container ul {position:relative; width:100%; margin:30px 0 0 0; padding:7px; background-color:#fff; border:5px solid #ffc483; box-sizing:border-box; z-index:99999}
.movie_container ul:after {display:block; content:''; clear:both}

.movie1 ul li,
.movie2 ul li,
.movie3 ul li,
.movie4 ul li {position:relative; overflow:hidden}

.movie1 ul li img,
.movie2 ul li img,
.movie3 ul li img,
.movie4 ul li img {position:absolute; top:50%; left:0; width:100%; height:auto; margin:-38% 0 0 0;z-index:0}
.android_play {position:absolute; display:block; top:50%; left:50%; cursor:pointer;z-index:1;
  background:url('/dalpeng/skin/_common/img/android_play.png') no-repeat 0 0; background-size:100%; font-size:0; line-height:0; text-indent:-9999px;
  width:80px; height:54px;margin:-27px 0 0 -40px}

.movie1 ul li { width:100%; height:480px; margin:0;}

.movie2 ul li { width:100%; height:480px; margin:0 0 1% 0;}

.movie3 ul li {float:left; width:49.5%; height:250px; margin:0;}
.movie3 ul li:first-child { width:100%; height:480px; margin:0 0 1% 0;}
.movie3 ul li:nth-child(2) {margin-right:1%}

.movie4 ul li {float:left; width:49.5%; height:250px; margin:0 0 1% 0;}
.movie4 ul li:first-child {margin-right:1%}
.movie4 ul li:nth-child(3) {margin-right:1%;}

.movie1 ul li,
.movie2 ul li:last-child,
.movie3 ul li:last-child,
.movie4 ul li:last-child {margin-bottom:0!important}

.nomovie {background-color:#ccc}
.nomovie span {position:absolute; top:50%; left:50%; margin:-8px 0 0 -100px; display:block; width:200px; text-align:center; color:#fff}

@media all and (max-width: 640px) {
  .movie1 ul li,.movie1 ul li:first-child,
  .movie2 ul li,.movie2 ul li:first-child,
  .movie3 ul li,.movie3 ul li:first-child,
  .movie4 ul li,.movie4 ul li:first-child {position:relative; float:none; width:100%; height:230px; margin:0 0 1% 0}
  .android_play {width:60px; height:40px;margin:-20px 0 0 -30px}
}
@media all and (max-width: 480px) {
  .movie1 ul li,.movie1 ul li:first-child,
  .movie2 ul li,.movie2 ul li:first-child,
  .movie3 ul li,.movie3 ul li:first-child,
  .movie4 ul li,.movie4 ul li:first-child {height:200px}
}
  
/* Guestbook */
.gb_sun {position:relative; margin:0 auto 20px; width:257px; height:118px; background:url() no-repeat 0 0; background-size:100%}
.gb_sun p {position:absolute; top:90px; left:50%; display:block; width:70px; margin:0 0 0 56px;
color:#a1e2fc; font-size:0.85em; line-height:1.1; text-align:center}
.gb_sun p strong {display:block; font-size:1.3em;}

.snsbbs_sections {float:left; width:25%!important;}

.gb_btn {cursor:pointer}
.gb_btn img {display:block; width:184px; height:auto; margin:20px auto 0}

.gb_msg {text-align:center}
.gb_msg p{display:inline-block; padding:6px 15px 4px; font-size:.8em; font-weight:bold; color:#fff; margin:0 0 50px; background-color:rgba(0,0,0,0.2); border-radius:6px; }

#div_snsbbs:after {clear:both; content:''; display:block;}
.gb_cont_box {border:2px solid #fff; width:100%; padding:1em 0.8em; font-family:'Lora', sans-serif; font-size: 0.8em; color:#444; box-sizing:border-box;background-color: #fff;   box-shadow: 0 2px 6px rgba(0,0,0,0.3);border-radius:5px;}
.snsbbs_sections:first-child .gb_cont_box {/*border:2px solid #a1e2fc;*/ background-color:#ffffff;border-radius:3px;}
.pro_info:after {clear:both; content:''; display:block}
.pro_info {padding: 0.5em 0 1em 0.5em; border-bottom: 1px solid rgba(204,204,204,0.5);}
.pro_txt strong {font-size:1.1em}
.pro_img {position:relative; float:left;}
.pro_img img {width:80px; height:80px; border-radius:50%;background-color:#fff}
.pro_img:after {position:absolute; top:-15px; left:-13px; background:url(/bundles/viettutweb/img/templates/angelcar/guestbook_imgbg2.png) no-repeat; width:108px; height:108px; background-size:100%; content:''; z-index:-1}
.snsbbs_sections:first-child .pro_img:after {background-color:#ffffff; background-size:100%}
.pro-sns {position:absolute; top: 60%; left: 65px; width:20px; height:20px; background:url('/dalpeng/skin/_common/img/ico_spr_sns24.png') -20px 0 no-repeat; background-size:200%;}
.pro-sns span   {display:block; text-indent:-9999px; overflow:hidden;}
.pro-sns.facebook {background-position:   -20px   0px;}
.pro-sns.twitter  {background-position:   -20px   -20px;}
.pro-sns.kakao    {background-position:   -20px   -40px;}
.pro-sns.naver    {background-position:   -20px   -60px;}
.pro-sns.dalpeng  {background-position:   -20px   -80px;}
.pro-sns.google   {background-position:   -20px   -100px;}
.pro-sns.notmember  {background-position:   -20px   -120px;}
.pro-sns.instagram  {background-position:   -20px   -140px;}
.pro_txt {float:left; padding: 1.6em 0 0 1.5em; max-width:60%}
.pro_txt .date {font-size:0.8em; letter-spacing:-0.5px}

.gb_cont {clear:both; padding:1em 0.5em;}
.gb_cont li {margin-bottom:0;}
.gb_cont li img {max-width:100%;}

.gb_skip {overflow:hidden; padding:1em 0.5em 0 0.5em; border-top:1px solid  rgba(255,255,255,0.5)}
.gb_skip .gb_comm {height:13px; color:#444; font-size:0.95em; font-weight:bold; line-height:13px;}
.gb_skip .gb_comm .icon_reply {float:left; text-align:center; width:15px; height:13px; padding:0 5px 0 0;
  font-size:0; line-height:0; text-indent:-9999px;
  background:url(/bundles/viettutweb/img/templates/angelcar/guestbook_reply.png) no-repeat; background-size:15px;}

/* Location */

/*.lo_tab_wrap {width:70%; min-height:40px; margin:0 auto 30px; padding:0; text-align:center}
.lo_tab_wrap li {position:relative; display:inline-block; float:left; width:49%; margin:0 2% 0 0; line-height:40px;
color:#81d8d0; text-align:center; font-size:0.95em; font-family:'Lora',serif; font-weight:400; font-style: italic; 
  background-color:#fff; border:1px solid #81d8d0; cursor:pointer; box-sizing: border-box}
.lo_tab_wrap li:last-child {margin:0}
.lo_tab_wrap .on {background-color:#81d8d0; color:#fff}
.lo_tab_wrap .on:after {position:absolute; bottom:-9px; left:50%; margin:0 0 0 -8px; content:''; 
width:15px; height:8px; background:url(/bundles/viettutweb/img/templates/angelcar/tab_on.png) no-repeat 0 0; background-size:15px 8px}*/

.lo_box { background-color: #fff; padding: 0; border-radius: 8px; border: 2px solid #cdf4ff;margin-bottom:40px;}
.lo_box .ui-block-a { margin:0 0 10px 0; padding: 20px 10px 20px 20px}
.lo_box .ui-block-b { padding: 20px 20px 20px 10px}

.lo_map {background-color: #fff;border: 1px solid #42b4e4;margin-bottom: .5em; text-align:center; box-sizing: border-box; line-height:1}
.lo_map #wedding_pmap_canvas,
.lo_map #party_pmap_canvas {height:400px!important}
.lo_map .ui-link img {height:100%}

.nav-wrap {}
.nav-wrap ul {overflow:hidden; margin-top:10px}
.nav-wrap ul li {float:left; margin-right:30px}
.nav-m {margin-top:5px}
.nav-m .nav-1 {float:left; width:100%}
.nav-m .nav-2 {float:left; width:50%}
.ui-icon-nav1 {background:url('/dalpeng/skin/_common/img/ico_nav_kakao.png') 5px center no-repeat; background-size:50px}
.ui-icon-nav2 {background:url('/dalpeng/skin/_common/img/ico_nav_ai.png') 5px center no-repeat; background-size:50px}
.ui-btn-nav .ui-btn {font-family:'Lora', sans-serif; font-weight:400!important}
.ui-btn-nav .ui-icon-nav1 {display:block;border: 1px solid rgba(0,0,0,0.3)!important;background-color:#fae100!important;color: #333!important;text-shadow: 0 0 0 transparent!important;padding:12px 0 12px 20px}
.ui-btn-nav .ui-icon-nav2 {display:block;border: 1px solid rgba(0,0,0,0.3)!important;background-color:#fcfcfc!important;padding: 12px 0 12px 20px}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {display:none}
.ui-page-theme-a .ui-btn {}
.nav_info {font-size:0.8em; font-family:'Lora', sans-serif; color:#333; text-align:center}

.lo_container {position:relative; margin:0; border-collapse: collapse; font-family:'Lora', sans-serif}
.lo_container1 {width: 100%; margin:0 0 30px 0; padding: 0 0 0px 0; background-color:#fff;  border: 1px solid #42b4e4;}
.lo_container2:after {position:absolute; top: -150px; right: -10px; width: 150px; height: 150px; background: url(/bundles/viettutweb/img/templates/angelcar/location_bunny.png) no-repeat 0 0; background-size: 100%; content:''; z-index: 40}
.lo_container2 {width:100%; background-color: #42b4e4;}
.lo_container th {width: 40px;  padding-top: 16px;vertical-align: top;text-align: center; box-sizing: border-box}
.lo_container td {padding: 0 15px 0 0; word-break:break-all; font-size:.9em; line-height:1.5; color:#444; box-sizing: border-box}

.lo_container1 tr td span {display:block; min-height: 20px; padding: 16px 0; border-bottom: 1px solid #42b4e4;}
.lo_container1 tr:last-child td span {border-bottom:0}

.lo_container2 tr td span {display:block; min-height: 20px; padding: 16px 0; border-bottom:1px solid #fff;word-break:break-word;}
.lo_container2 tr:last-child td span {border-bottom:0}
.lo_container2 td {color:#fff}

.lo_container th span {
  display: block;
  width:25px;
  height:25px;
  font-size:0;
  margin: 0 auto;
  line-height:0;
  text-indent:-9999px;
  background:url(/bundles/viettutweb/img/templates/angelcar/location_icon.png) no-repeat 0 0;
  background-size:25px;
  box-sizing: border-box
  }
.lo_container td strong {font-size:1.2em; color: #42b4e4;}
  
.lo_container th.lo_date .icon    {background-position:0 0}
.lo_container th.lo_loca .icon    {background-position:0 -25px}
.lo_container th.lo_tel .icon     {background-position:0 -50px}
.lo_container th.lo_info .icon    {background-position:0 -75px}
.lo_container th.lo_bus .icon     {background-position:0 -100px}
.lo_container th.lo_subway .icon  {background-position:0 -125px}


.col-2,
.col-3,
.col-4 {position:relative; overflow:hidden}

/* .col-2 .ui-block-a {float:left; width:49%;margin-right:2%}
.col-2 .ui-block-b {float:left; width:49%} */

.col-2 .ui-block-a,
.col-2 .ui-block-b {float:left; width:50%}
    
.col-3 .ui-block-a,
.col-3 .ui-block-b {width:32%; margin:0 2% 0 0 }
.col-3 .ui-block-c {width:32%}

.col-3 .ui-block-1,
.col-3 .ui-block-2 {width:32%; margin:0 2% 0 0 }
.col-3 .ui-block-0 {width:32%}

.ui-body-d {margin:2%}
.snsbbs_sections .ui-body-d {margin: 5px 8px 15px;}







.nav_wrap {position: relative;min-height: 250px;background: url(/bundles/viettutweb/img/templates/angelcar/location_envelope.png) no-repeat 50% 0; margin: -110px 0 0 0; }

.nav_list {padding: 120px 0 0 40px;}
.nav_list:after {display:block; content:''; clear:both}
.nav_list li{display:inline-block;float:left;width: 160px;margin: 0 10px 0 0;padding: 8px 0 8px 12px;background-color:#43add5;border-radius:6px;box-sizing:border-box;font-size:0.9em;font-weight:bold;line-height: 40px;color:#fff;cursor:pointer;}
.nav_list li:last-child {margin:0}
.nav_list .fbirthday_kimnavi span{display:inline-block; height:40px; background: url(/bundles/viettutweb/img/templates/angelcar/ico_nav_kakao_w.png) no-repeat 0 0; background-size:auto 100%; padding:0 0 0 45px}
.nav_list .fbirthday_ollehnavi span{display:inline-block; height:42px; background: url(/bundles/viettutweb/img/templates/angelcar/ico_nav_ai_w.png) no-repeat 0 0; background-size:auto 100%; padding:0 0 0 45px}
.nav_info {padding:10px 0 0 40px; font-size:0.75em; font-weight:bold; color:#005b7f; letter-spacing:-0.5px}

.col-2,
.col-3,
.col-4 {position:relative; overflow:hidden;}

/*
col-2 .ui-block-a {float:left; width:49%;margin-right:2%}
.col-2 .ui-block-b {float:left; width:49%;}
*/

.col-2 .ui-block-a,
.col-2 .ui-block-b {float:left; width:50%;}
    
.col-3 .ui-block-a,
.col-3 .ui-block-b {width:32%; margin:0 2% 0 0 }
.col-3 .ui-block-c {width:32%;}

.col-3 .ui-block-1,
.col-3 .ui-block-2 {width:32%; margin:0 2% 0 0 }
.col-3 .ui-block-0 {width:32%;}

.ui-body-d {margin:2%;}
.header_date {color:#000000;}
/* 980 이상 */
@media all and (min-width: 980px) {
  .header_title .small {font-size:1.6em; margin:0 0 2px 0}
  .header_title .name {margin:0;font-size: 1.1em;}
  .header_title .birthday {font-size: 1.6em;}
  .profile_boy { border-radius:10px; border:10px solid #42b4e4;}
.profile_girl { border-radius:10px; border:10px solid #f371ac;}  

}
/* 980 이하 */
@media all and (max-width: 980px) {
  .snsbbs_sections {float:left; width:33%!important;}
  .profile_boy { border-radius:10px; border:10px solid #42b4e4;}
  .profile_girl { border-radius:10px; border:10px solid #f371ac;}
}

/* 800 이하 */
@media all and (max-width: 800px) {
  .header_title .name span {/* display:block; */}
  .lnb li {font-size:12px}
  .snsbbs_sections {float:left; width:50%!important;}
  .col-2 .ui-block-a,
  .col-2 .ui-block-b {float:left; width:100%;}
  .profile_boy { border-radius:10px; border:10px solid #42b4e4;}
  .profile_girl { border-radius:10px; border:10px solid #f371ac;}
}

/* 768 이하 */
@media all and (max-width: 768px) {  
  .lnb li:after {content:''}
  .header_title .name {margin:0;font-size: 0.9em;}
  .header_title .birthday {font-size: 1.2em;}
  .gal_list > div > a > div {height:280px;}
  .gal_list .col-3 {overflow:visible!important}
  .gal_list .col-3:after {display:block; content:''; clear:both}

  .gal_list .col-3:nth-child(1) .ui-block-1 {width:100%; height:500px; margin:0 0 10px 0}
  .gal_list .col-3:nth-child(1) .ui-block-2 {width:49%; margin:0 2% 10px 0}
  .gal_list .col-3:nth-child(1) .ui-block-0 {width:49%; margin:0 0 10px 0}

  .gal_list .col-3:nth-child(2) .ui-block-1 {width:49%; margin:0 2% 10px 0}
  .gal_list .col-3:nth-child(2) .ui-block-2 {width:49%; margin:0 0 10px 0}
  .gal_list .col-3:nth-child(2) .ui-block-0 {width:49%; margin:0 0 10px 0}

  .gal_list .col-3:nth-child(3) .ui-block-1 {float:right; width:49%; margin:-290px 0 10px 0}
  .gal_list .col-3:nth-child(3) .ui-block-2 {width:49%; margin:0 2% 10px 0}
  .gal_list .col-3:nth-child(3) .ui-block-0 {width:49%; margin:0 0 10px 0}
  .header_date {position:relative;color:#777;margin-bottom:100px;}

  .profile_boy { border-radius:10px; border:10px solid #42b4e4;}
  .profile_girl { border-radius:10px; border:10px solid #f371ac;}

  .header_date {position:relative;color:#777;margin-bottom:85px;}
}


@media all and (min-width: 769px) {
  .header_box {text-align:center!important;}
  .header_title {top:50%;min-height: 550px}
}

@media all and (min-width: 769px) and (max-height:700px) {
	.header_box {min-height:710px!important}
}
/* 768 이하 */
@media all and (max-width: 768px) {
  .greeting_wrap {background:none;padding: 0;}
  .guestbook_wrap {background:#cdf4ff /*url(/bundles/viettutweb/img/templates/angelcar/guestbook_bg640.jpg) repeat-y 50% 0*/; background-size:auto;}
  .ui-section-a {position:relative; width:100%;}
  .ui-section-b {width:100%;}
  .lnb {display:none!important}
  .lnb_mobile,
  .lnb_mobile.fadeIn {position:fixed!important; display:block!important; opacity:0.8!important}  
  .header .flag {position:absolute; top:0px; left:0; right:0; height:120px;
  background:url(/bundles/viettutweb/img/templates/angelcar/header_flag1.png) no-repeat -15px -10px; background-size:420px}
  .header_box {background:none;}
  .header_title {bottom: 20px;left: 15px;right: 15px;margin:0;padding: 20px;margin-top: 0!important;background: none;min-height: auto!important;;}
  .header_box .cars,
  .header_box .one {display:none;}
  .header_title h1 {background : rgba(255, 255, 255, 0.8);border-radius:20px;padding: 5px 10px;margin-bottom: 10px;display: block;}
   .header_title happy {}
  .header_date {background : rgba(255, 255, 255, 0.8);border-radius: 20px;padding: 5px 10px;margin: 0;}
  .header_date li {display:block;font-size:1em}




.header_title h1 {position: relative;margin: 0 0 10px;}
.header_title p {display:block;line-height: 1.4;}
.header_title .small {font-size:1.2em; margin:0 0 2px 0}
/*.header_title .name {font-size:1.6em;margin:0;line-height: 1.4;}*/
.header_title .name span {display:inline-block;}
.header_title .name span.twins {display:block;}
.header_title .birthday {font-size:1.3em}
.header_date {position:relative;color:#777;margin-bottom:0px;}
.header_date li {position:relative;display: inline-block;font-size: 1em;line-height: 1.5;box-sizing:  border-box;}
.header_date li.place {display:block}

.lo_box .ui-block-b { padding: 20px 20px 20px 10px}




/*.header_panel {bottom:10px}
  .header_panel p {width: 65px; font-size:0.85em; height:30px; line-height:32px}
  .header_panel a {height:30px;} */
  .greeting_box {background-color:rgba(255,255,255,0.8)}
  /*.greeting_box:after {position:absolute; top:0; left:0; right:0; bottom:0; content:'';background-color:rgba(255,255,255,0.5);}*/

  .gal_list .col-3:nth-child(1) .ui-block-1 {height:450px}
  .gal_list > div > a > div {height:240px;}
  .gal_list .col-3:nth-child(3) .ui-block-1 {margin-top:-250px}

  .lo_box {margin: 10px 10px;padding: 10px 10px 10px 10px;}
  .nav_list {padding:130px 0 0 0;margin:0;text-align:center}
  .nav_list li {float: none;text-align:left;margin: 0 5px 10px;padding: 5px 0 5px 12px;}
  .nav_info {padding: 8px 0;text-align:center;}

}

/* 600이하 */
@media all and (max-width: 600px) {
	.header_date {position:relative;color:#777;margin-bottom:10px;font-size: 1em;line-height: 1.5;}
}


/* 560(35em) 이하 */
@media all and (max-width: 560px) {
  .snsbbs_sections {float:left; width:100%!important;}
  .profile_wrap .profile_box:before {left:-75px;background-position:0 0}
  .profile_wrap .profile_box:after {right:-75px;background-position:-60px 0}
}


/* 480 이하 */
@media all and (max-width: 480px) {
  .col-3 .ui-block-a, 
  .col-3 .ui-block-b, 
  .col-3 .ui-block-c {width:100%;}
  .col-3 .ui-block-1,
  .col-3 .ui-block-2,
  .col-3 .ui-block-0 {width:100%;}
  .col-4 .ui-block-a,
  .col-4 .ui-block-b,
  .col-4 .ui-block-c, 
  .col-4 .ui-block-d  {width:100%;}

  .header_panel {display:none!important; opacity:0!important}  
  .greeting_name li .panel {display:inline-block!important;}

  .header_title,
  .header_date {}
  .baby_title {font-size:1.1em; width: 104%; margin-left: -2%}
  .baby_title:before {left: -10px;}
  .baby_title:after {right:-10px;}
/*   .header_title .small {font-size: 1.2em;}
  .header_title .name span {}
  .header_title .name,
  .header_title .birthday {font-size:1.8em} */

  .header_title {bottom: 20px;left: 20px;right: 20px;margin:0;padding: 0;height: auto;margin-top: 0!important;background: none;min-height: auto!important;}


  .gal_list .col-3:nth-child(1) .ui-block-1 {height:330px; border:5px solid #ff71af}
  .gal_list > div > a > div {height:160px; border:5px solid #fff}
  .gal_list .col-3:nth-child(3) .ui-block-1 {margin-top:-170px}

  .lo_box  {padding:0}
  .lo_box .ui-block-a { padding: 10px 10px 0px 10px}
  .lo_box .ui-block-b { padding: 10px}
  .lo_container1 {width:100%}
  .lo_container td {font-size:.8em}
  .lo_container2:after {top: -98px; right: -12px; width: 100px; height: 100px;}


  .header_date {position:relative;color:#777/* ;margin-bottom:245px; */}

  .header_box {height:500px;}

  .header_title .name {font-size: 0.7em;}
  .header_title .birthday {font-size: 1em;}

.profile_wrap .profile_box {display:block;position:relative;width: 300px;}
.profile_wrap .profile_box:before,
.profile_wrap .profile_box:after {position:absolute;content:'';top:30px;width:45px;height: 78px;background:url(/bundles/viettutweb/img/templates/angelcar/angel_bg3.png) no-repeat;background-size:90px auto;}
.profile_wrap .profile_box:before {left:-59px;background-position:0 0}
.profile_wrap .profile_box:after {right:-59px;background-position:-44px 0}

h2.title {position:relative; margin: 0 0 30px;text-align:center;line-height: 1;}
h2.title img {display:inline-block}

.greeting_wrap h2.title img {width:300px}
.profile_wrap h2.title img {width:300px;}
.gallery_wrap h2.title img {width: 300px;}
.guestbook_wrap h2.title img {width: 285px;}
.movie_wrap h2.title img {width:300px}
.location_wrap h2.title {margin:0;height: 107px;}
.location_wrap h2.title img {width: 300px;}


.ui-icon-nav1 {background:url('/dalpeng/skin/_common/img/ico_nav_kakao.png') 0px center no-repeat; background-size:40px}
.ui-icon-nav2 {background:url('/dalpeng/skin/_common/img/ico_nav_ai.png') 0px center no-repeat; background-size:40px}
.ui-btn-nav .ui-btn {font-family:'Lora', sans-serif; font-weight:400!important}
.ui-btn-nav .ui-icon-nav1 {display:block;border: 1px solid rgba(0,0,0,0.3)!important;background-color:#fae100!important;color: #333!important;text-shadow: 0 0 0 transparent!important;padding:12px 0px 12px 20px;font-size:0.8em;}
.ui-btn-nav .ui-icon-nav2 {display:block;border: 1px solid rgba(0,0,0,0.3)!important;background-color:#fcfcfc!important;padding:12px 0px 12px 20px;font-size:0.8em;}


.nav-m .nav-1,
.nav-m .nav-2 {float:left; width:100%}

}


/* 360이하 */
@media all and (max-width: 360px) {
	.header_date li {position:relative;display: inline-block;font-size: 1em;line-height: 1.5;box-sizing:  border-box;}

	.header_date li.place {display:block}


	.profile_boy { border-radius:10px; border:10px solid #42b4e4;}
	.profile_girl { border-radius:10px; border:10px solid #f371ac;}  
}






/* 320 이하 */
@media all and (max-width: 320px) {
	.guestbook_wrap {background:#cdf4ff url(/bundles/viettutweb/img/templates/angelcar/guestbook_bg320.jpg) repeat-y 50% 0; background-size:auto;}
	.lnb_mobile {width:40px; height:40px;}
	.header_title .small {font-size: 1.2em;}
  .header_title .name {font-size: 0.5em;}
  .header_title .birthday {font-size: 0.8em;}
	.gallery_wrap h2.title img {width:90%}
	.movie_ballon {width:100%;}
	/*.greeting_name li span:first-child {display:block;}*/
	.gal_list .col-3:nth-child(1) .ui-block-1 {height:240px}
	.gal_list > div > a > div {height:130px}
	.gal_list .col-3:nth-child(3) .ui-block-1 {margin-top:-140px}

	.profile_wrap .profile_box:after {position:absolute;content:'';top:30px;width:60px;height: 78px;background:url(/bundles/viettutweb/img/templates/angelcar/angel_bg3.png) no-repeat;background-size:125px auto;}
	.profile_wrap .profile_box:before {left:-75px;background-position:0 0}
	.profile_wrap .profile_box:after {right:-75px;background-position:-60px 0}

	.location_wrap .ul-body {padding:0 0px}
	.location_wrap .ul-body:after {position:absolute; bottom:0; left: 0; right: 0; height: 500px}
	.lo_box .ui-block-a,
	.lo_box .ui-block-b {padding:5px}
	.lo_title span {font-size:0.9em}
	.nav_wrap {margin-left:0px; margin-right:0px}
	.nav_info {font-size:0.7em} 


	.header_date li {position:relative;display: inline-block;font-size: 1em;line-height: 1.5;box-sizing:  border-box;}
	.header_date li.place {display:block}


/* 	.header_date {position:relative;color:#777;margin-bottom:355px;} */
	.profile_boy { border-radius:10px; border:10px solid #42b4e4;}
	.profile_girl { border-radius:10px; border:10px solid #f371ac;}  

}


/* HEADER ANIMATION */
.fadeIn{
  animation: fadeIn 0s ease;  
  -webkit-animation: fadeIn 0s ease; 
  visibility: visible !important;
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 0.8}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 0.8}
}

/* 320이하 */
@media all and (max-width: 320px) {  
	.header_box {height:538px;}

/* 	.header_date {position:relative;color:#777;margin-bottom:410px;} */
	.header_date li {position:relative;display: inline-block;font-size: 0.8em;line-height: 1.2;box-sizing:  border-box;}
	.header_date li.place {display:block}
	.profile_wrap h2.title img {width:300px;}
	.profile_boy { border-radius:10px; border:10px solid #42b4e4;}
	.profile_girl { border-radius:10px; border:10px solid #f371ac;}
}


.movie_bottom{background-image:url(/bundles/viettutweb/img/templates/angelcar/movie_bg_bottom.png);
              background-repeat:repeat-x;
              background-position:center bottom;height:103px;background-color:#ffeed7; vertical-align: bottom;}

.profile_boy { border-radius:10px; border:10px solid #42b4e4;}
.profile_girl { border-radius:10px; border:10px solid #f371ac;}  
.profile_bg {background-color:#cdf4ff;text-align:center;padding: 20px 0 100px 0 ;}
.nav-m form input {margin-bottom: 0 !important;font-size:16px !important;}
/* .profile_wrap .profile_box:after {position:absolute;content:'';top:30px;width:60px;height: 78px}
.profile_wrap .profile_box:before {left:-75px;background-position:0 0}
.profile_wrap .profile_box:after {right:-75px;background-position:-60px 0} */
.comm_txt p {
  word-break:break-word;
}