{% extends 'base.html.twig' %}
{% block title %}Hòm thư góp ý - Nếu bạn thấy chưa hài lòng đừng ngần ngại cho chúng tôi biết{% endblock %}
{% block description %}
    Nếu bạn thấy chưa hài lòng đừng ngần ngại cho chúng tôi biết. Chúng tôi sẽ tiếp nhận và sửa đổi nếu thấy hợp lý.
    Nếu bạn muốn hợp tác cũng đừng ngần ngại liên hệ với chúng tôi. Rất hân hạnh được hợp tác cùng các bạn.
{% endblock %}
{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Liên Hệ</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h2 class="short" id="messageAnchor">Hòm thư <strong>Góp ý</strong></h2>
                <form id="contactForm">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Tên *</label>
                                <input type="text" value="" placeholder="tên của bạn" maxlength="100" class="form-control" id="name" required>
                            </div>
                            <div class="col-md-6">
                                <label>Email *</label>
                                <input type="email" value="" placeholder="địa chỉ email" maxlength="100" class="form-control" id="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Tiêu đề *</label>
                                <input type="text" value="" placeholder="tiêu đề" maxlength="100" class="form-control" id="subject" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Nội dung *</label>
                                <textarea maxlength="5000" placeholder="nội dung" rows="10" class="form-control" id="message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-lg" data-loading-text="Loading..." onclick="sendMessage()">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">

                <h4 class="push-top"><strong>Thank You!</strong></h4>
                <p>Cảm ơn những góp ý quý báu của bạn, chúng tôi sẽ tiếp nhận và sửa đổi nếu thấy hợp lý.</p>
                <p>Nếu bạn muốn hợp tác cũng đừng ngần ngại liên hệ với chúng tôi. Rất hân hạnh được hợp tác cùng các bạn.</p>

                <hr />

                <h4><strong>Thông tin</strong></h4>
                <ul class="list-unstyled">
                    {#<li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</li>#}
                    <li><i class="fa fa-phone"></i> <strong>Phone:</strong> 0961614387</li>
                    <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:support@thiepdo.com">support@thiepdo.com</a></li>
                </ul>

                {#<hr />#}

                {#<h4>Business <strong>Hours</strong></h4>#}
                {#<ul class="list-unstyled">#}
                    {#<li><i class="fa fa-time"></i> Monday - Friday 9am to 5pm</li>#}
                    {#<li><i class="fa fa-time"></i> Saturday - 9am to 2pm</li>#}
                    {#<li><i class="fa fa-time"></i> Sunday - Closed</li>#}
                {#</ul>#}

            </div>

        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/viettutweb/js/views/view.contact.js') }}"></script>
{% endblock %}