{% extends 'base.html.twig' %}

{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Câu hỏi thường gặp</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <h2>Câu hỏi <strong>thường gặp</strong></h2>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Chúng tôi luôn luôn lắng nghe các chia sẻ, góp ý của quý khách. Vấn đề quý khách thắc mắc không nằm trong danh sách dưới đây hay <a href="{{ path('contact_page') }}">liên hệ</a> với chúng tôi để có câu trả lời chi tiết hơn.
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="toogle" data-plugin-toggle>
                    {% for faq in faqs %}
                        <section class="toggle {% if loop.index = 1 %}active{% endif %}">
                            <label>{{ faq.question }}</label>
                            <p>{{ faq.answer }}</p>
                        </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}