{% extends 'base.html.twig' %}
{% block title %}Giới thiệu dịch vụ và tính năng tạo thiệp online {% endblock %}
{% block description %}
    Danh sách mẫu thiệp của Thiệp Đỏ, các mẫu được sử dụng hoàn toàn miễn phí, chỉnh sửa và xem trước trên thiết bị di động trước khi chia sẻ.
{% endblock %}
{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active">Dịch vụ</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <h2>Dịch vụ của <strong>Thiệp Đỏ</strong></h2>

        <div class="row">
            <div class="col-md-10">
                <p class="lead">
                    Thiệp Đỏ là dịch vụ cho phép các cặp đôi tạo thiệp điện tử để có thể chia sẻ qua các dịch vụ mạng xã hội như: Facebook, Zalo, Youtube. Mỗi thiệp cưới có dạng một trang web (landing page) và thường sẽ gồm các mục : Lời tựa, Album ảnh, Video, Sổ lưu bút và Bản đồ.
                    Bạn bè có thể dùng tài khoản Facebook hoặc Zalo để ghi vào sổ lưu bút một cách dễ dàng.
                </p>
            </div>
            <div class="col-md-2">
                <a href="{{ path('faq_page') }}" class="btn btn-lg btn-primary push-top pull-right">Tìm hiểu thêm!</a>
            </div>
        </div>

        <hr>

        <div class="row featured-boxes">
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-primary">
                    <div class="box-content">
                        <i class="icon-featured fa fa-money"></i>
                        <h4>Miễn Phí</h4>
                        <p>Bạn hoàn toàn không phải trả thêm một loại phí nào !<a href="#" class="learn-more">learn more <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-secundary">
                    <div class="box-content">
                        <i class="icon-featured fa fa-facebook"></i>
                        <h4>Mạng Xã Hội</h4>
                        <p>Tải album, video từ Facebook, YouTube, Zalo ... Dễ dàng chia sẻ qua tin nhắn Messenger !<a href="/" class="learn-more">learn more <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-tertiary">
                    <div class="box-content">
                        <i class="icon-featured fa fa-comments-o"></i>
                        <h4>Sổ Lưu Bút</h4>
                        <p>Cùng chia sẻ niềm hạnh phúc với bạn bè người thân bằng tài khoản Zalo, Facebook !<a href="/" class="learn-more">learn more <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-quartenary">
                    <div class="box-content">
                        <i class="icon-featured fa fa-map-marker"></i>
                        <h4>Bản đồ</h4>
                        <p>Hướng dẫn, chỉ đường chính xác và chi tiết ! <a href="/" class="learn-more">learn more <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row push-top">
            <div class="col-md-12">
                <h2><strong>Tính năng chính</strong></h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Miễn phí</h4>
                                <p class="tall">Bạn hoàn toàn không phải trả thêm một loại phí nào !</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Album ảnh</h4>
                                <p class="tall">Số lượng không giới hạn. Có thể chỉnh sửa bất cứ lúc nào.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-comments-o"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Sổ lưu bút</h4>
                                <p class="tall">Cùng chia sẻ niềm hạnh phúc với bạn bè người thân bằng những lời chúc tốt đẹp.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-youtube"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Video</h4>
                                <p class="tall">Mỗi thiệp bao gồm một Youtube video để có thể lưu giữ những khoảnh khắc đáng nhớ.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Bản đồ</h4>
                                <p class="tall">Hướng dẫn, chỉ đường chính xác và chi tiết.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Mạng xã hội</h4>
                                <p class="tall">Thiệp mời dễ dàng chia sẻ qua Zalo, Facebook ... Tải album, video từ Facebook </p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Responsive</h4>
                                <p class="tall">Các mẫu thiệp được thiết kế tối ưu để xem trên điện thoại và máy tính bảng.</p>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-bolt"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="shorter">Nhanh chóng</h4>
                                <p class="tall">Tạo thiệp nhanh chóng chỉ sau vài thao tác. Xem trước trên giao diện thiết bị di động. Thay đổi mẫu bất cứ lúc nào</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#<hr class="tall" />#}

        {#<div class="row">#}
            {#<div class="col-sm-7">#}
                {#<h2>Premium <strong>Features</strong></h2>#}
                {#<p class="lead">#}
                    {#Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci.#}
                {#</p>#}
                {#<p class="tall">#}
                    {#Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis, eu hendrerit enim scel.#}
                {#</p>#}
            {#</div>#}
            {#<div class="col-sm-4 col-sm-offset-1 push-top">#}
                {#<img class="img-responsive" src="{{ asset('bundles/viettutweb/img/device.png') }}">#}
            {#</div>#}
        {#</div>#}

    </div>
{% endblock %}